$positive: #1253cf;
$calm: #317ec2;
$dark: #252d33;
$light_dark: #7c7e80;
$white: #fff;
$light: #fafafa;

body {
  font-family: 'Roboto', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.padding-top {
  padding-top: 2em;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 85%;
  }
}

// Banner Section

.banner {
  background: $positive;
  height: 662px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:before {
    content: " ";
    width: 100%;
    height: 1px;
    background: 1px $white;
    position: absolute;
    top: 23em;
    z-index: 1;
  }
  .main-wrapper-bullet {
    position: absolute;
    top: 21.7em;
    left: 3em;
    list-style: none;
    z-index: 10;
    .list-bullet {
      display: inline-block;
    }
    .bullet {
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 100%;
    }
    .list-bullet-p {
      margin-left: -1.1em;
      position: relative;
      p {
        color: white;
        font-weight: 300;
      }
      .centering-mir {
        margin-left: -1em;
      }
    }
  }
  .main-wrapper-bullet-border {
    position: absolute;
    top: 21.5em;
    left: 3em;
    list-style: none;
    z-index: 10;
    .list-bullet {
      display: inline-block;
    }
    .main-bullet {
      width: 16px;
      height: 16px;
      border: 2px solid white;
      background: none;
      border-radius: 100%;
    }
    .bullet {
      width: 7px;
      height: 7px;
      top: 4px;
      left: 4.1px;
      position: absolute;
      background: white;
      border-radius: 100%;
    }
    .list-bullet-p {
      margin-left: -1em;
      margin-top: -6px;
      position: relative;
      p {
        color: white;
        font-weight: 700;
      }
    }
  }
  .ltr-first {
    margin-left: 10em;
  }
  .ltr {
    margin-left: 58em;
  }
  .ltrc {
    margin-left: 52em;
  }
  .navbar-transparent {
    background: transparent;
    box-shadow: none;
  }
  nav ul li {
    &:hover {
      background: transparent;
    }
  }
  .banner-art {
    width: 100%;
    height: auto;
    content: url('../img/banner_art.png');
    position: relative;
    margin-top: -45em;
    z-index: 0;
  }
  .wrapper-title-banner {
    margin-left: 100px;
    z-index: 14;
    position: relative;
    .title-banner {
      font-size: 22px;
      margin-bottom: -5px;
      font-weight: 500;
    }
    .tag-title-banner {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.wrapper-card {
  margin-top: 9em;
  margin-left: 6em;
  z-index: 4;
  position: relative;
  .lg-card {
    content: url('../img/lg_card.png');
    width: 50%;
    height: 100%;
  }
}

// Section Benefit

.benefit {
  padding: 60px 0;
  background: url('../img/circle.png');
  background-repeat: no-repeat;
  background-size: 750px;
  background-position: center 180px;
  .title-benefit {
    font-size: 36px;
    font-weight: 700;
    color: $calm;
  }
  .content-benefit {
    padding-top: 6em;
    padding-left: 20px;
    padding-right: 20px;
    .cust-left {
      text-align: left;
      float: left;
      width: 23.5%;
      clear: none;
    }
    .cust-right {
      text-align: right;
      float: right;
      width: 23.5%;
      clear: none;
    }
    .content-title-benefit {
      font-size: 32px;
      font-weight: 500;
      color: $dark;
      line-height: 0;
    }
    .content-tag-benefit {
      font-size: 16px;
      font-weight: 400;
      color: $light_dark;
    }
  }
}

.row-1 {
  // code place here
}
.row-2 {
  padding-top: 4em;
}
.row-3 {
  padding-top: 2.5em;
}
.row-4 {
  padding-top: 8em;
}

.btn-primary {
  border-radius: 3px;
  background: $calm;
  &:hover {
    background: $calm;
  }
  &:focus {
    background: $calm;
  }
}

// Section Getting Card

.get-card {
  background: $light;
  padding: 2em 0;
  .wrapper-title {
    padding-bottom: 3em;
    .title-card {
      font-size: 36px;
      font-weight: 500;
    }
  }
  .tag-card {
    font-size: 28px;
    font-weight: 500;
  }
  .big-icon {
    font-size: 100px;
    color: $calm;
  }
}
