body {
  font-family: 'Roboto', sans-serif; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.padding-top {
  padding-top: 2em; }

.banner {
  background: #1253cf;
  height: 662px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .banner:before {
    content: " ";
    width: 100%;
    height: 1px;
    background: 1px #fff;
    position: absolute;
    top: 23em;
    z-index: 1; }
  .banner .main-wrapper-bullet {
    position: absolute;
    top: 21.7em;
    left: 3em;
    list-style: none;
    z-index: 10; }
    .banner .main-wrapper-bullet .list-bullet {
      display: inline-block; }
    .banner .main-wrapper-bullet .bullet {
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 100%; }
    .banner .main-wrapper-bullet .list-bullet-p {
      margin-left: -1.1em;
      position: relative; }
      .banner .main-wrapper-bullet .list-bullet-p p {
        color: white;
        font-weight: 300; }
      .banner .main-wrapper-bullet .list-bullet-p .centering-mir {
        margin-left: -1em; }
  .banner .main-wrapper-bullet-border {
    position: absolute;
    top: 21.5em;
    left: 3em;
    list-style: none;
    z-index: 10; }
    .banner .main-wrapper-bullet-border .list-bullet {
      display: inline-block; }
    .banner .main-wrapper-bullet-border .main-bullet {
      width: 16px;
      height: 16px;
      border: 2px solid white;
      background: none;
      border-radius: 100%; }
    .banner .main-wrapper-bullet-border .bullet {
      width: 7px;
      height: 7px;
      top: 4px;
      left: 4.1px;
      position: absolute;
      background: white;
      border-radius: 100%; }
    .banner .main-wrapper-bullet-border .list-bullet-p {
      margin-left: -1em;
      margin-top: -6px;
      position: relative; }
      .banner .main-wrapper-bullet-border .list-bullet-p p {
        color: white;
        font-weight: 700; }
  .banner .ltr-first {
    margin-left: 10em; }
  .banner .ltr {
    margin-left: 58em; }
  .banner .ltrc {
    margin-left: 52em; }
  .banner .navbar-transparent {
    background: transparent;
    box-shadow: none; }
  .banner nav ul li:hover {
    background: transparent; }
  .banner .banner-art {
    width: 100%;
    height: auto;
    content: url("../img/banner_art.png");
    position: relative;
    margin-top: -45em;
    z-index: 0; }
  .banner .wrapper-title-banner {
    margin-left: 100px;
    z-index: 14;
    position: relative; }
    .banner .wrapper-title-banner .title-banner {
      font-size: 22px;
      margin-bottom: -5px;
      font-weight: 500; }
    .banner .wrapper-title-banner .tag-title-banner {
      font-size: 14px;
      font-weight: 300; }

.wrapper-card {
  margin-top: 9em;
  margin-left: 6em;
  z-index: 4;
  position: relative; }
  .wrapper-card .lg-card {
    content: url("../img/lg_card.png");
    width: 50%;
    height: 100%; }

.benefit {
  padding: 60px 0;
  background: url("../img/circle.png");
  background-repeat: no-repeat;
  background-size: 750px;
  background-position: center 180px; }
  .benefit .title-benefit {
    font-size: 36px;
    font-weight: 700;
    color: #317ec2; }
  .benefit .content-benefit {
    padding-top: 6em;
    padding-left: 20px;
    padding-right: 20px; }
    .benefit .content-benefit .content-title-benefit {
      font-size: 32px;
      font-weight: 700;
      color: #252d33; }
    .benefit .content-benefit .content-tag-benefit {
      font-size: 16px;
      font-weight: 300;
      color: #7c7e80;
      width: 20%; }
    .benefit .content-benefit .row-left {
      width: 100%;
      float: left; }
    .benefit .content-benefit .row-right {
      width: 100%;
      float: right; }
